{% extends "_layout.html" %}
{% block content %}
<h1>Site Admin</h1>
<h2>Repo</h2>
<form method="POST" role="form">
  <div class="form-group">
    <label for="repo">repo</label>
    <input id="repo" type="text" name="repo" value="{{repo}}" class="form-control"/>
  </div>
  <button type="submit" class="btn btn-default">save</button>
</form>
<h2>Releases</h2>
<form action="/_site/admin/download_commit" method="POST" role="form">
  <div class="form-group">
    <label for="commit">commits</label>
    <select id="commit" name="commit_id" class="form-control">
      {% for r in commits %}
      <option value="{{r.sha}}">{{r.sha}}</option>
      {% endfor %}
    </select>
  </div>
  <button type="submit" class="btn btn-default">publish</button>
</form>
<h2>Download</h2>
<form action="/_site/admin/download" method="GET">
  <button class="btn btn-default">
    download
  </button>
</form>
{% endblock %}
